## 第八章 常微分方程数值解法

In [10]:
import math
import pandas as pd
import numpy as np

### 实验目的

（1）利用 Euler 方法与改进的 Euler 方法求解初值问题：

$$
\begin{cases}
    y' = \frac{1}{1 + x^2} - 2y^2, \quad 0 \leqslant x \leqslant 2 \\
    y(0) = 0
\end{cases}
$$

分别取步长 $h = 0.1, 0.2, 0.4$。此初值问题的精确解为 $y = \frac{x}{1 + x^2}$。

以及后面的（2）。

### 实验原理

Euler 方法、改进 Eular 方法与统一的 R-K 方法求解初值问题。

### 实验方法与步骤

In [27]:
def Euler(f, x_init, y_init, h, up, origin_func):
    y = y_init
    x = x_init
    perform_values = []
    while x <= up:
        perform_values.append([x, y, origin_func(x), origin_func(x) - y])
        y = y + h * f(x, y)
        x = x + h
    
    return pd.DataFrame(perform_values, columns=['$x_n$', '$y_n$', '$y(x_n)$', '$y(x_n) - y_n$'])

In [35]:
def Euler_improved(f, x_init, y_init, h, up, origin_func):
    x = x_init
    y = y_init
    K_1 = 0
    K_2 = 0
    perform_values = []
    while x <= up:
        perform_values.append([x, y, origin_func(x), origin_func(x) - y])
        K_1 = f(x, y)
        K_2 = f(x + h, y + h * K_1)
        y = y + (K_1 + K_2) * h / 2
        x = x + h
    
    return pd.DataFrame(perform_values, columns=['$x_n$', '$y_n$', '$y(x_n)$', '$y(x_n) - y_n$'])

In [32]:
Euler(lambda x, y: (1 / (1 + x**2)) - 2 * (y**2), 0, 0, 0.1, 2, lambda x: x / (1 + x**2))

    $x_n$     $y_n$  $y(x_n)$  $y(x_n) - y_n$
0     0.0  0.000000  0.000000        0.000000
1     0.1  0.100000  0.099010       -0.000990
2     0.2  0.197010  0.192308       -0.004702
3     0.3  0.285401  0.275229       -0.010172
4     0.4  0.360854  0.344828       -0.016026
5     0.5  0.421017  0.400000       -0.021017
6     0.6  0.465566  0.441176       -0.024390
7     0.7  0.495745  0.469799       -0.025947
8     0.8  0.513707  0.487805       -0.025902
9     0.9  0.521903  0.497238       -0.024666
10    1.0  0.522675  0.500000       -0.022675
11    1.1  0.518037  0.497738       -0.020300
12    1.2  0.509614  0.491803       -0.017810
13    1.3  0.498656  0.483271       -0.015385
14    1.4  0.486099  0.472973       -0.013126
15    1.5  0.472625  0.461538       -0.011086
16    1.6  0.458719  0.449438       -0.009281
17    1.7  0.444724  0.437018       -0.007706
18    1.8  0.430875  0.424528       -0.006347
19    1.9  0.417329  0.412148       -0.005182

In [33]:
Euler(lambda x, y: (1 / (1 + x**2)) - 2 * (y**2), 0, 0, 0.2, 2, lambda x: x / (1 + x**2))

    $x_n$     $y_n$  $y(x_n)$  $y(x_n) - y_n$
0     0.0  0.000000  0.000000        0.000000
1     0.2  0.200000  0.192308       -0.007692
2     0.4  0.376308  0.344828       -0.031480
3     0.6  0.492078  0.441176       -0.050902
4     0.8  0.542281  0.487805       -0.054476
5     1.0  0.546605  0.500000       -0.046605
6     1.2  0.527094  0.491803       -0.035291
7     1.4  0.497930  0.472973       -0.024957
8     1.6  0.466324  0.449438       -0.016886
9     1.8  0.435520  0.424528       -0.010992
10    2.0  0.406819  0.400000       -0.006819

In [34]:
Euler(lambda x, y: (1 / (1 + x**2)) - 2 * (y**2), 0, 0, 0.05, 2, lambda x: x / (1 + x**2))

    $x_n$     $y_n$  $y(x_n)$  $y(x_n) - y_n$
0    0.00  0.000000  0.000000        0.000000
1    0.05  0.050000  0.049875       -0.000125
2    0.10  0.099625  0.099010       -0.000615
3    0.15  0.148138  0.146699       -0.001438
4    0.20  0.194843  0.192308       -0.002535
5    0.25  0.239124  0.235294       -0.003829
6    0.30  0.280464  0.275229       -0.005235
7    0.35  0.318470  0.311804       -0.006666
8    0.40  0.352871  0.344828       -0.008043
9    0.45  0.383523  0.374220       -0.009302
10   0.50  0.410394  0.400000       -0.010394
11   0.55  0.433551  0.422265       -0.011287
12   0.60  0.453142  0.441176       -0.011966
13   0.65  0.469373  0.456942       -0.012431
14   0.70  0.482492  0.469799       -0.012693
15   0.75  0.492769  0.480000       -0.012769
16   0.80  0.500487  0.487805       -0.012682
17   0.85  0.505926  0.493469       -0.012457
18   0.90  0.509357  0.497238       -0.012120
19   0.95  0.511037  0.499343       -0.011694
20   1.00  0.511202  0.500000       -0.011202
21   1.05  0.510070  0.499405       -0.010664
22   1.10  0.507834  0.497738       -0.010096
23   1.15  0.504669  0.495156       -0.009513
24   1.20  0.500728  0.491803       -0.008925
25   1.25  0.496147  0.487805       -0.008342
26   1.30  0.491043  0.483271       -0.007772
27   1.35  0.485518  0.478299       -0.007219
28   1.40  0.479660  0.472973       -0.006687
29   1.45  0.473545  0.467365       -0.006180
30   1.50  0.467236  0.461538       -0.005698
31   1.55  0.460790  0.455547       -0.005242
32   1.60  0.454252  0.449438       -0.004814
33   1.65  0.447663  0.443251       -0.004412
34   1.70  0.441054  0.437018       -0.004036
35   1.75  0.434455  0.430769       -0.003686
36   1.80  0.427887  0.424528       -0.003359
37   1.85  0.421371  0.418315       -0.003056
38   1.90  0.414922  0.412148       -0.002774
39   1.95  0.408552  0.406039       -0.002513

In [37]:
Euler_improved(lambda x, y: (1 / (1 + x**2)) - 2 * (y**2), 0, 0, 0.2, 2, lambda x: x / (1 + x**2))

    $x_n$     $y_n$  $y(x_n)$  $y(x_n) - y_n$
0     0.0  0.000000  0.000000        0.000000
1     0.2  0.188154  0.192308        0.004154
2     0.4  0.336599  0.344828        0.008229
3     0.6  0.430673  0.441176        0.010503
4     0.8  0.477372  0.487805        0.010433
5     1.0  0.491123  0.500000        0.008877
6     1.2  0.484932  0.491803        0.006871
7     1.4  0.467953  0.472973        0.005020
8     1.6  0.445903  0.449438        0.003535
9     1.8  0.422102  0.424528        0.002426
10    2.0  0.398371  0.400000        0.001629

In [38]:
Euler_improved(lambda x, y: (1 / (1 + x**2)) - 2 * (y**2), 0, 0, 0.1, 2, lambda x: x / (1 + x**2))

    $x_n$     $y_n$  $y(x_n)$  $y(x_n) - y_n$
0     0.0  0.000000  0.000000        0.000000
1     0.1  0.098505  0.099010        0.000505
2     0.2  0.191292  0.192308        0.001016
3     0.3  0.273734  0.275229        0.001496
4     0.4  0.342931  0.344828        0.001896
5     0.5  0.397822  0.400000        0.002178
6     0.6  0.438854  0.441176        0.002323
7     0.7  0.467461  0.469799        0.002337
8     0.8  0.485559  0.487805        0.002246
9     0.9  0.495156  0.497238        0.002082
10    1.0  0.498125  0.500000        0.001875
11    1.1  0.496087  0.497738        0.001651
12    1.2  0.490375  0.491803        0.001428
13    1.3  0.482053  0.483271        0.001218
14    1.4  0.471945  0.472973        0.001028
15    1.5  0.460680  0.461538        0.000859
16    1.6  0.448726  0.449438        0.000712
17    1.7  0.436432  0.437018        0.000586
18    1.8  0.424049  0.424528        0.000479
19    1.9  0.411759  0.412148        0.000389

In [40]:
Euler_improved(lambda x, y: (1 / (1 + x**2)) - 2 * (y**2), 0, 0, 0.05, 2, lambda x: x / (1 + x**2))

    $x_n$     $y_n$  $y(x_n)$  $y(x_n) - y_n$
0    0.00  0.000000  0.000000        0.000000
1    0.05  0.049813  0.049875        0.000063
2    0.10  0.098884  0.099010        0.000126
3    0.15  0.146511  0.146699        0.000188
4    0.20  0.192059  0.192308        0.000249
5    0.25  0.234987  0.235294        0.000307
6    0.30  0.274868  0.275229        0.000361
7    0.35  0.311394  0.311804        0.000410
8    0.40  0.344375  0.344828        0.000453
9    0.45  0.373732  0.374220        0.000488
10   0.50  0.399485  0.400000        0.000515
11   0.55  0.421730  0.422265        0.000535
12   0.60  0.440631  0.441176        0.000546
13   0.65  0.456393  0.456942        0.000549
14   0.70  0.469253  0.469799        0.000546
15   0.75  0.479463  0.480000        0.000537
16   0.80  0.487283  0.487805        0.000522
17   0.85  0.492965  0.493469        0.000504
18   0.90  0.496755  0.497238        0.000482
19   0.95  0.498885  0.499343        0.000458
20   1.00  0.499567  0.500000        0.000433
21   1.05  0.498999  0.499405        0.000407
22   1.10  0.497357  0.497738        0.000380
23   1.15  0.494802  0.495156        0.000354
24   1.20  0.491475  0.491803        0.000328
25   1.25  0.487502  0.487805        0.000303
26   1.30  0.482992  0.483271        0.000279
27   1.35  0.478043  0.478299        0.000256
28   1.40  0.472738  0.472973        0.000235
29   1.45  0.467150  0.467365        0.000215
30   1.50  0.461343  0.461538        0.000196
31   1.55  0.455369  0.455547        0.000178
32   1.60  0.449276  0.449438        0.000162
33   1.65  0.443104  0.443251        0.000147
34   1.70  0.436885  0.437018        0.000133
35   1.75  0.430649  0.430769        0.000120
36   1.80  0.424420  0.424528        0.000108
37   1.85  0.418218  0.418315        0.000097
38   1.90  0.412060  0.412148        0.000087
39   1.95  0.405960  0.406039        0.000078

（2）利用 Runge-Kutta 方法求解初值问题：

$$
\begin{cases}
    y' = x^2 - y^2, \quad -1 < x \leqslant 0 \\
    y(-1) = 0
\end{cases}
$$

分别取步长 $h = 0.1, 0.2$。

In [46]:
def Runge_Kutta_4(f, x_init, y_init, h, up):
    x = x_init
    y = y_init
    K_1 = 0
    K_2 = 0
    K_3 = 0
    K_4 = 0
    perform_values = []
    while x <= up:
        perform_values.append([x, y])
        K_1 = f(x, y)
        K_2 = f(x + h/2, y + h * K_1 / 2)
        K_3 = f(x + h/2, y + h * K_2 / 2)
        K_4 = f(x + h, y + h * K_3)
        y = y + (K_1 + 2 * K_2 + 2 * K_3 + K_4) * h / 6
        x = x + h
        
    return pd.DataFrame(perform_values, columns=['$x_n$', '$y_n$'])

In [47]:
Runge_Kutta_4(lambda x, y: x**2 - y**2, -1, 0, 0.1, 0)

           $x_n$     $y_n$
0  -1.000000e+00  0.000000
1  -9.000000e-01  0.090047
2  -8.000000e-01  0.160727
3  -7.000000e-01  0.213483
4  -6.000000e-01  0.250368
5  -5.000000e-01  0.273775
6  -4.000000e-01  0.286222
7  -3.000000e-01  0.290213
8  -2.000000e-01  0.288160
9  -1.000000e-01  0.282344
10 -1.387779e-16  0.274911

In [48]:
Runge_Kutta_4(lambda x, y: x**2 - y**2, -1, 0, 0.2, 0)

          $x_n$     $y_n$
0 -1.000000e+00  0.000000
1 -8.000000e-01  0.160712
2 -6.000000e-01  0.250344
3 -4.000000e-01  0.286195
4 -2.000000e-01  0.288134
5 -5.551115e-17  0.274887